@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
	box-sizing: border-box;
}

body, main {
	height: 100%;
	width: 100%;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Quicksand', sans-serif;
	background-color: #ffffff;
}

main {
	padding: 0 5px;
}

header {
	width: 100%;
	background-color: white /*#313131*/;
	padding: 18px 6px 7px 10px;
	text-align: center;
	/* border-bottom: 1px solid;
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.2); */
	

	/* -webkit-box-shadow: 0 2px 7px 0 #313131;
  -moz-box-shadow: 0 2px 7px 0 #313131;
  box-shadow: 0 2px 7px 0 #313131; */
}

.notes-app__title {
	font-family: 'Roboto', sans-serif;
	font-size: 21px;
	color: #bbb2dd;
	text-decoration: none;
}

nav {
	display: flex;
	margin-top: 30px;
}

nav a {
	text-decoration: inline;
	/* color: #9a8cc6; */
	color: #8f8f8f;
	font-size: 30px;
	margin: 5px;
}

.notes-app__nav-left {
	flex-basis: 20%;
	text-align: left;
}

.notes-app__nav-left a {
	font-size: 34px;
}

.notes-app__nav-right {
	flex-basis: 80%;
	text-align: right;
}

.notes-app__archive {
	font-size: 31px;
	float: right;
}

.search-bar {
	padding: 12px;
	margin: 10px 0;
}

input {
	width: 100%;
	margin-top: 5px;
	margin-bottom: 10px;
	padding: 18px 25px;
	border-radius: 25px;
	border: 1px solid;
	border-color: #c3bae4;
	font-size: 17px;
	background-color: #f9f7fd;
	color: #a497ce;
}

::-webkit-input-placeholder,
::placeholder {
	color: #a497ce;
}

input:focus {
	outline: none !important;
	border: 1px solid;
	border-color: #9e93c5;
}

.note-list_title {
	padding: 0 15px 5px 15px;
	text-align: center;
}

.note-item {
	margin: 38px 15px;
	padding: 20px 20px 10px 20px;
	border-radius: 25px;
	background-color: #fccdf5;
	
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.22);
	transition: all 0.3s cubic-bezier(.25, .8, .25, 1);

	/* background: rgb(164, 151, 206);
	background: linear-gradient(
		0deg,
		rgba(255, 199, 248, 1) 0%,
		rgba(164, 151, 206, 1) 100%
	); */
}

.note-item:hover {
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.note-item p {
	margin: 12px 0;
}

.note-item__title {
	color: #6d477a;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
}

.note-item__body {
	font-size: 18px;
	font-weight: bold;
	color: #cb85c2;
}

.note-item__action {
	display: flex;
}

.note-item__date {
	font-size: 14px;
	color: #bd7cbc;
	font-weight: bold;
	flex-basis: 80%;
}

.note-item__action-btn {
	flex-basis: 20%;
	font-size: 38px;
}

.note-item__action button {
	border: none;
	background: none;
	color: #917c94;
}

.note-item__action button:focus {
	color: #764c7a;
	transition: 0.3s;
}

.note-input {
	padding: 15px;
	margin: 35px 0 30px 0;
}

.note-input textarea {
	width: 100%;
	padding: 15px 15px 100px 15px;
	margin: 30px 0;
	border-radius: 5px;
}

.note-input button {
	padding: 11px 15px;
	border-radius: 5px;
	border: 1px solid;
	border-color: rgb(0,0,0);
	border-color: rgba(0,0,0,0.5);
	background-color: white;
	float: right;
}

.note-detail {
	padding: 20px 18px;
}

.note-detail__title {
	font-size: 25px;
	margin: 10px 0;
}

.note-detail__date {
	font-size: 15px;
	color: rgb(56, 56, 56);
}

.note-detail__body {
	font-size: 16px;
	margin-top: 40px;
}

.empty-message {
	text-align: center;
}

.action-button button {
	position: fixed;
	bottom: 0;
	right: 0;
	border-radius: 30px 0 0 0;
	border: 1px solid #ad98d6;
	background-color: #ad98d6;
	color: #fbf7ff;
	padding: 12px 10px 1px 11px;
	font-size: 38px;
	cursor: pointer;
	z-index: 1;
	-webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.btn-archive {
	bottom: 15px!important;
	right: 85px!important;
}

.no-page {
	text-align: center;
}

.no-page > p {
	font-size: 30px;
	margin-bottom: 0;
}

.red {
	background-color: rgb(184, 3, 3)!important;
	border: 1px solid rgb(184, 3, 3)!important;
}

footer {
	font-family: 'Roboto', sans-serif;
	padding: 5px;
	text-align: center;
	width: 100%;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 15px;
}

footer p {
	font-size: 14px;
}

footer a {
	color: white;
}
